.container {
  width: 100%;
  height: 800px;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-position: center;
  position: absolute;
}
img{
  position:absolute; 
  left:0px; 
  top:0px; 
  z-index:-1; 
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  padding: 20px;
  display: block;
  width: 100%;
  max-width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

#lab-title{
  font-size: 32px;
  margin-right: 41%;
}
label{
  color: #eee; 
}

.form-control.dif {
  display: block;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #eee;
  color: #848484;
}

.jumbotron.fond {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 50px auto;
}


@media (min-width: 1200px) {
  .container {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100% !important;
  }
}
















.container.registry{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 1000px;
}

.write{
  display: block;
  width: 300px;
  max-width: 100; 
  height: 13px;
  border-radius: 3px; 
  border: 1px solid #eee;
  color: #848484;

}


#main-forms{
  color: #0000;
}


.boxes{
  height: 20px;
}