.back-img{
  background-image: url(images/fondo.png);
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

input[type="text"], input[type="password"]{
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;  
}

.form-control.dif{
  display: block;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #eee;
  color: #848484;
}

.jumbotron.fond{
  background-color: rgba(0,0,0,.75);
}
